# Folders to ignore
/dev/
/docs/
/models/
/datasets/image2reverb/test_A/
/datasets/image2reverb/test_B/
/datasets/image2reverb/train_A/
/datasets/image2reverb/train_B/
/datasets/image2reverb/val_A/
/datasets/image2reverb/val_B/

# Files to ignore
*AGENT.md*